[submodule "3rdParty/osrm-backend"]
	path = 3rdParty/osrm-backend
	url = https://github.com/Project-OSRM/osrm-backend
[submodule "3rdParty/Apple-Boost-BuildScript"]
	path = 3rdParty/Apple-Boost-BuildScript
	url = https://github.com/faithfracture/Apple-Boost-BuildScript
[submodule "3rdParty/tbb"]
	path = 3rdParty/tbb
	url = https://github.com/01org/tbb

[submodule "3rdParty/stxxl"]
	path = 3rdParty/stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "3rdParty/protozero"]
	path = 3rdParty/protozero
	url = https://github.com/mapbox/protozero
